<script>
  var q1 = 0;
  function correct1() {
    alert("Correct.  Now got to the second destination.");
    document.getElementById("q1").style.display = "none";
    var thornhill_sq_ne = new google.maps.LatLng(51.540867, -0.114515);
    var thornhill_sq_sw = new google.maps.LatLng(51.539606, -0.115824);

    var thornhill_rd_ne = new google.maps.LatLng(51.541756, -0.109449);
    var thornhill_rd_sw = new google.maps.LatLng(51.541009, -0.109955);

    sq_ne = thornhill_rd_ne;
    sq_sw = thornhill_rd_sw;


    line.setMap(null);
    set_square();

  }

</script>

<div id="q1" style="display: none; width: 400px; margin:20px" class="ringed_box">
  <div class="flex_col">
    You have arrived at your first destination.<br/><br/>
    Q1.  What is the colour of the front door at number 78?
    <div class="flex_row">
      <div class="small_ringed_box">
        Red
        <input type="radio" name="q1" onchange="correct1()">
      </div>
      <div class="small_ringed_box">
        Blue
        <input type="radio" name="q1" onchange="incorrect()">
      </div>
      <div class="small_ringed_box">
        Black
        <input type="radio" name="q1" onchange="incorrect()">
      </div>
    </div>
  </div>
</div>
