<script>
  var q1 = 0;
  function correct() {
    alert("Correct");
    document.getElementById("q1").style.display = "none";
    var thornhill_sq_ne = new google.maps.LatLng(51.540867, -0.114515);
    var thornhill_sq_sw = new google.maps.LatLng(51.539606, -0.115824);

    sq_ne = thornhill_sq_ne;
    sq_sw = thornhill_sq_sw;
    line.setMap(null);

    set_square();
  }

  function incorrect() {
    alert("Incorrect");
  }
</script>

<div id="q1" style="display: none; width: 400px; margin:20px" class="select_box_wrapper">
  <div class="flex_col">
    G1What is the colour of the front door at number 78?
    <div class="flex_row">
      <div class="select_box_wrapper" style="border: 1px solid blue; margin: 2px">
        Red
        <input type="radio" name="q1" onchange="correct()">
      </div>
      <div class="select_box_wrapper" style="border: 1px solid blue; margin: 2px">
        Blue
        <input type="radio" name="q1" onchange="incorrect()">
      </div>
      <div class="select_box_wrapper" style="border: 1px solid blue; margin: 2px">
        Black
        <input type="radio" name="q1" onchange="incorrect()">
      </div>
    </div>
  </div>
</div>
