<script>
  var q1 = 0;
  function correct2() {
    alert("Correct.  Now got to the third destination.");
    document.getElementById("q2").style.display = "none";
    var rip_grove_ne = new google.maps.LatLng(51.539968, -0.109608);
    var rip_grove_sw = new google.maps.LatLng(51.539828, -0.110938);

    var malvern_terr_ne = new google.maps.LatLng(51.539210, -0.109931);
    var malvern_terr_sw = new google.maps.LatLng(51.539112, -0.110752);

    sq_ne = malvern_terr_ne;
    sq_sw = malvern_terr_sw;
    line.setMap(null);

    set_square();
  }

</script>

<div id="q2" style="display1: none; width: 400px; margin:20px" class="ringed_box">
  <div class="flex_col">
    You have arrived at your second destination.<br/><br/>
    Q2What is the colour of the front door at number 78?
    <div class="flex_row">
      <div class="small_ringed_box">
        Red
        <input type="radio" name="q1" onchange="incorrect()">
      </div>
      <div class="small_ringed_box">
        Blue
        <input type="radio" name="q1" onchange="correct2()">
      </div>
      <div class="small_ringed_box">
        Black
        <input type="radio" name="q1" onchange="incorrect()">
      </div>
    </div>
  </div>
</div>
