
<div id="q4" style="display1: none; width: 400px; margin:20px" class="ringed_box">
  <div class="flex_col">
    Q4When inside press the button below
    <%= button_to "Press", video_path, :method => :get,  :class => "small_button" %>
  </div>
</div>
