
<div id="q4" style="display: none; width: 400px; margin:20px" class="select_box_wrapper">
  <div class="flex_col">
    Q4When inside press the button below
    <%= button_to "Press", video_path, :method => :get %>
  </div>
</div>
