<style>


.container1 {
    display: inline-flex;
    flex-direction: row;
    }

.container1 div {
    padding: 5px;
    }


</style>
test
<div class="container1" style="margin-top:20px" >
  <div>
    <%= button_to "Contacts", contacts_path, method: :get, class: "standard_button make_button" %>
  </div>
  <div>
    <%= button_to "Sheets", sheets_path, method: :get, class: "standard_button make_button" %>
  </div>
  <div>
      <%= button_to "Brochures", brochures_path, method: :get, class: "standard_button make_button" %>
</div>
</div>
