<table style="width:100%; margin-top:30px" >
  <col width="50%">
  <col width="50%">
  <tr>
    <td>
      <%= button_to "Contacts", contacts_path, method: :get %>

    </td>
    <td>
      <%= button_to "Sheets", sheets_path, method: :get %>
    </td>
  </tr>
</table>

<%= button_to "Email", "/email_processor", method: :post %>
