<script>
  var interval = setInterval(timerTick, 60000);

  function timerTick() {
    getLocation();
  }

  function turn_on() {
    timerTick();
    interval = setInterval(timerTick, 60000);
  }

  function turn_off() {
    clearInterval(interval);
  }

  window.onload = timerTick;


  var x = document.getElementById("demo");

  function getLocation() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(sendPosition);
    } else {
      x.innerHTML = "Geolocation is not supported by this browser.";
    }
    return;
  }


  function sendPosition(position) {
    var xhr = new XMLHttpRequest();
    var xhr = new XMLHttpRequest();
    xhr.open("POST", "position", true);
    var d = new Date();
    var time_string = d.toLocaleTimeString().replace(/\s/g, '');
    xhr.send(time_string + " " + position.coords.latitude + " " + position.coords.longitude + " " + "<%= cookies[:location_user].to_s %>");
  }



</script>

This is the location<br/>

Cheat login<br/>
User: <%= cookies[:location_user].to_s %><br/>
<%= form_tag  location_cheat_log_in_path, id: "cheat_login" do %>
  <%= select_tag :user, options_for_select(["Laptop","Mobile","User 1","User 2"], cookies[:location_user].to_s) , {:class=> "input", :onchange => "cheat_login.submit();",  :style => "width:150px;"} %>
<% end %>


<button onclick="turn_on()" style="width: 150px; height: 50px">On</button>
<button onclick="turn_off()" style="width: 150px; height: 50px">Off</button>

<div id= "demo"></div>
