<style>
  .small_button{
    display: table-cell;
    vertical-align: middle;
    width: 110px;
    height: 28px;
    max-height: 28px;
    font-family: Arial;
    text-align: center;
    line-height: 20px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 9pt;
    border: 1px solid blue;
    color: black;
    background: white;
    margin: 5px;
  }

  .ringed_box {
    /* display: inline-block; */
    border: 8px solid red;
    border-radius: 20px;
    padding: 6px;
    font-family: Arial;
    font-size: 20pt;
  }

</style>


<div class="ringed_box">
  You must visit three areas in Barnsbury.  These will be indicated by blue squares on the map.  Go to the areas indicated by the blue squares.  When you are there, we will ask you some questions.

  <%= button_to "Start", xmas1_path, :method => :get, :class =>" small_button" %>
</div>
