  <h1>Editing Contact</h1>
<%= render 'form', contact: @contact %>

<%= button_to  "List all contacts", contacts_path, {:method => :get, :class => "standard", :style => "margin-left: 100px; background-color: yellow; width: 200px;"} %>
