  <h1>Editing Contact</h1>
<%= render 'form', contact: @contact %>

<%= button_to  "List all contacts", contacts_path, {:method => :get, :class => "small_button", :style => "margin-left: 0px; width: 200px;"} %>
